
.cardItem {
  display: flex;
  margin: 0  auto 20px;
}
.card-item-content {
  height: 211px;
  width: 701px;
}

.title {
  display: flex;
  justify-content: space-between;
  margin: 0 30px 0 30px;
  height: 50px;
}

.title h3 {
  color: #0094FF;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.card-item-top-content {
  width: 701px;
  background: #E6FFF2;

}

.options {
  display: flex;
  width: 80%;
  height: 50px;
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
}

.bet-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-item-bets {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
  box-sizing: border-box;
}

.bet-input input {
  width: 54px;
  height: 33px;
  margin: 0 15px;
  background: #FFFFFF;
  border-radius: 8px;
  outline: none;
  border: 0;
}
.bet-input button{
  width: 80px;
  border: 0;
  background-color: #E6FFF2;
  color: #34DDDD;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: 0.1s;
  border-radius: 10%;
}
.bet-input button:active{

  font-size: 12px;
  background-color: #8aa094;
}
.button-crossed{
  text-decoration: red line-through;
}
.timer{
  display: flex;
  width: fit-content;
  align-items: center;
}
.options h3 {
  margin-right: 20px;
  overflow: hidden;
  font-weight: bold;
  font-size: 16px;
}

.bet-input h3 {
  color: #34DDDD;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.card-item-statistic {
  display: flex;
  column-gap: 15px;
  align-items: center;
  margin: 7px 0 0 30px;
}

.card-item-comments {
  display: flex;
  margin: 0 30px;
  height: 60px;
}

.card-item-comments h2 {
  font-weight: bolder;
  width: 100px;
  color: #FFD300;
  font-size: 18px;
  margin: 0;
  cursor: pointer;
}

.comments {
  width: 90%;
display: flex;
}

.comments p {
  margin: 0;
  width: 85%;
  font-size: 11px;
}

.card-item-logo-img {
  width: 210px;
  height: 210px;
  border-radius: 30px 0 0 30px;
}
