<header class="header">
  <div class="logo">
    <a routerLink=""><img src="assets/img/headerIcons/logo.svg" alt="421421"></a>
  </div>
  <div class="header-left-side">
    <div class="bitcoin">
      <h3 style="margin-left: 10px">3200</h3>
      <p style="margin-left: 10px">BTY</p>
      <img src="assets/img/headerIcons/bitcoin.svg" alt="">
    </div>
    <div class="eth">
      <h3 style="margin-left: 10px">$45</h3>
      <h3 style="margin-left: 10px">(0.4 ETH)</h3>
      <img src="assets/img/headerIcons/eth.svg" alt="">
    </div>
    <div class="profile">
      <p>Tony Stark</p>
      <img src="assets/img/headerIcons/profileAvatar.svg" alt="">
    </div>
    <div class="notification"><img style="height: 24px; width: 24px;  " src="assets/img/headerIcons/notification.jpg" alt=""></div>
  </div>
</header>
