h3 {
  font-size: 20px;
  font-weight: bold;
}
p{
  margin: 0 0 8px 10px;
}
.header {
  display: flex;
  padding: 0 35px;

  justify-content: space-between;
}

.header-left-side {
  display: flex;
}

.bitcoin {
  display: flex;
  margin-left: 15px;
  align-items: center;
}

.eth {
  display: flex;
  margin-left: 15px;
  align-items: center;
}

.profile {
  margin-left: 15px;
  display: flex;
  align-items: center;

}

.bitcoin img {
  width: 42px;
  height: 40px;
  margin-left: 15px;
}

.eth img {
  width: 22px;
  height: 37px;
  margin-left: 15px;
}

.profile img {
  margin: 15px;
}

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification img {
  margin: 0;
}

.bitcoin p {
  margin: 0 0 8px 10px;
}
