<div style="display: flex ; justify-content: center">
  <div *ngIf="cardList.length">

    <app-card-item
      *ngFor="let cardListItem of cardList | paginate: {id:'pag',itemsPerPage:10,currentPage:page,totalItems:totalItems}"
      [cardListItem]="cardListItem"></app-card-item>

    <div style="display:flex;justify-content: center">
      <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [maxSize]="10" [rotate]="true" [ellipses]="false"
                      [boundaryLinks]="true"></ngb-pagination>
    </div>
  </div>
</div>
<div class="dot-flashing"></div>
<div class="loading" *ngIf="(!cardList.length && !searchData)"><h1 class="loading">LOADING</h1><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div> </div>
<h1 class="not-found" *ngIf="(!cardList.length && searchData)" style="display: flex ;align-items: center"><img width="200" height="200"
                                                                                             src="assets/img/helpIcons/notFound.png"
                                                                                             alt=""> RECORD NOT FOUND
</h1>
