<div class="sub-header">
  <div class="search-item">
    <div class="search-icon"><img src="assets/img/subHeaderIcons/searchIcon.svg" alt=""></div>
    <input type="text" placeholder="What are you interested in?" [(ngModel)]="searchData" (input)="search()">
  </div>
  <div class="friends-button" >
    <div style="display: flex">
      <img src="assets/img/subHeaderIcons/friendsCastle.svg" alt="">
      <span style="margin-left: 10px">Friends</span>
    </div>
  </div>
  <div class="social-media-button" >
    <div style="display: flex">
      <img src="assets/img/subHeaderIcons/socialMediaIcon.svg" alt="">
      <span style="margin-left: 6px">Social Media</span>
    </div>
  </div>

  <div class="moments-button">
    <div class="playIcon">
      <img src="assets/img/subHeaderIcons/playTreangle.svg" alt="">
    </div>
    <span style="margin-left: 6px">Moments</span>
  </div>

</div>
